.card-container{
    font-family: "Poppins", sans-serif;
    margin-top: 5px;
 
}
 
:host ::ng-deep .p-card {
    margin-top: 5px;
    text-align: center;
    border-radius: 10px;
}
:host ::ng-deep .p-card-content {
    padding: 0;
}
:host ::ng-deep .p-card-body {
    padding: 1rem;
}
 
.p-calendar {
    position: absolute;
    z-index: 1000; /* Ensure the calendar appears on top of other elements */
}

.card-container {
    position: relative;
}

.calendar-popup {
    position: absolute;
    top: 140px; /* Adjust this value based on your layout */
    right: -150px;
    z-index: 1000;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
}

:host ::ng-deep .calendar-popup .p-calendar{ 
    width: 300px;
    height: 307px;
}

:host ::ng-deep .calendar-popup .p-calendar .p-datepicker{
    border: 0;
}

:host ::ng-deep .calendar-popup .p-calendar .p-datepicker table td,
:host ::ng-deep .calendar-popup .p-calendar .p-datepicker table th {
    padding: 0;
}


.custom-button {
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
}

.filter-group{
    display: flex;
    gap: 10px;

}

.date-container{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 5%;
}

.date{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
 
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.logo-time {
    display: flex;
    font-size: 20px;
    gap: 10px;
    justify-content: space-around;
    min-width: 170px;
}
 
.logo-time i {
    font-size: 32px;
}
.logo-time span{
    min-width: 110px;
}
 
.realtime-insight {
    font-family: "Poppins", sans-serif;
    /* font-size: 10px; */
    color: #888;
}
 
.today {
    font-size: 22px;
}
 
.greeting {
    /* color: var(--primary-color); */
    font-size: 32px;
    font-weight: bolder;
}

:host ::ng-deep .p-dropdown{
    background-color: var(--primary-color);
    font-size: 1rem;
    font-weight: bold;
}

:host ::ng-deep .p-dropdown .p-dropdown-trigger {
    background: transparent;
    color: #ffffff;
    width: 3rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    margin: 0;
    padding: 0.75rem 1.25rem;
    border: 0 none;
    color: var(--nav-bar-hover-color);
    font-weight: bold;
    background: transparent;
    transition: box-shadow 0.2s;
    border-radius: 0;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item:hover {
    background-color: rgba(234, 234, 234, 0.24); /* Change to your desired hover background color */
    /* box-shadow: 0 0 5px rgba(59, 130, 246, 0.5); Optional: Add a box-shadow effect on hover */
    /* border-radius: 4px; Optional: Add border-radius on hover */
}

:host ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {
    color: #fff;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
    background: rgba(255, 152, 152, 0.24);
}
@media (max-width: 1024px) {


    .card-content{
        padding: 10px;
    }
    .logo-time {
        font-size: 26px;
        gap: 10px;
        justify-content: space-around;
        min-width: 200px;
    }
 
    .logo-time i {
        font-size: 40px;
    }
    .logo-time span{
        min-width: 130px;
    }
 
    .realtime-insight {
        font-size: 16px;
        color: #888;
    }
 
    .today {
        font-size: 28px;
    }
}
 
@media only screen and (min-width: 820px) {
 
    .card-container{
        width: 280px;
    }
}
@media (max-width: 768px) {
    .card-container {
        margin: auto;
    }
 
    .card-content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
    }
 
    .logo-time{
        display: flex;
        align-items: center;
    }
 
    :host ::ng-deep .p-card {
        margin-top: 10px;
        text-align: center;
        border-radius: 10px;
    }
 
}
@media (max-width: 650px) {
    .logo-time {
        font-size: 24px;
    }
}
 
@media (max-width: 480px){
    .card-content{
        display: flex;
        flex-direction: column;
    }
 
    .logo-time{
        display: flex;
        align-items: center;
    }
}