<div class="form-container">
  <h4>Upload individual trainee data.</h4>
  <form [formGroup]="traineeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="employee-code">Trainee Id</label>
      <input type="text" id="employee-code" formControlName="employeeCode" placeholder="Enter Trainee Code" required>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" placeholder="Enter Email">
    </div>
    <div class="form-group">
      <label for="batch">Batch</label>
      <select id="batchId" formControlName="batchId" placeholder="Select batch" >
        <option *ngFor="let batch of batches" [value]="batch.batchId">{{ batch.batchName }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="isActive">Active Status</label>
      <select id="isActive" formControlName="isActive">
        <option [value]="true">Active</option>
        <option [value]="false">Inactive</option>
      </select>
    </div>
    <div>
      <button type="submit" class="submit-button">Submit</button>
    </div>
    
  </form>
</div>
