<div class="form-container">
    <h4>Upload individual trainee data.</h4>
    <form>
      <div class="form-group">
        <label for="trainee-id">Trainee Id</label>
        <input type="text" id="trainee-id" placeholder="Value">
      </div>
      <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" id="first-name" placeholder="Value">
      </div>
      <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" placeholder="Value">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Value">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Value">
      </div>
      <div class="form-group">
        <label for="batch">Batch</label>
        <select id="batch">
          <option value="value">Value</option>
        </select>
      </div>
      <div class="form-group">
        <label for="year">Year</label>
        <input type="text" id="year" placeholder="Value">
      </div>
      <div class="form-group image-container">
        <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?cs=srgb&dl=pexels-pixabay-220453.jpg&fm=jpg" alt="Traine Image">
      </div>
      <button type="submit" class="submit-button">Submit</button>
    </form>
  </div>
  