<div class="popup">
  <div class="popup-content">
    <button class="close-btn" (click)="close()">&#10005;</button>

    <!-- Title, Dropdown, Search, and Filters in the same row -->
    <div class="title-pagination-container">
      <!-- Dropdown for selecting Live Swipe Actions or Late Arrivals -->
      <div class="filter-container">
        <select id="viewTypeSelector" [(ngModel)]="viewType" class="view-type-selector">
          <option value="live">Live Swipe Actions</option>
          <option value="late">Late Arrivals</option>
        </select>
      </div>

      <!-- Search Trainee -->
       
   
      

      <!-- Filter for Live Swipe Actions -->
      <div class="filter-container">
        <input type="text" class="real-search-trainee" pInputText placeholder="Search trainee" [(ngModel)]="searchTerm" (ngModelChange)="filterTrainees()" />
        <label for="traineeFilter">Filter by Batch:</label>
        <select id="traineeFilter" [(ngModel)]="selectedBatchTrainees" (ngModelChange)="filterTrainees()" class="filter-button">
          <option value="">All Batches</option>
          <option value="1">Batch 5</option>
          <!-- <option value="2">Batch 3</option> -->
        </select>
      </div>
    </div>

    <!-- Live Swipe Table -->
    <div *ngIf="viewType === 'live'">
      <div class="table-container">
        <table *ngIf="filteredTrainees.length > 0; else noDataTemplate">
          <thead>
            <tr>
              <th>Trainee Name</th>
              <th>Movement</th>
              <th>Location</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trainee of filteredTrainees">
              <td>{{ trainee.employeeName }}</td>
              <td [ngClass]="{ 'came-inside': trainee.direction === '1', 'went-outside': trainee.direction === '2' }"
                [innerHTML]="trainee.direction === '1' ? '<i class=\'fa-solid fa-person-walking\'></i> In' : trainee.direction === '2' ? '<i class=\'fa-solid fa-person-walking\'></i> Out' : ''">
              </td>
              <td>{{ trainee.place }}</td>
              <td>{{ trainee.logDateTime | date: 'shortTime' }}</td>
            </tr>
          </tbody>
        </table>
        <ng-template #noDataTemplate>
          <div class="no-data-message"><p>No data right now</p></div>
        </ng-template>
      </div>
    </div>

   

    <p class="asterisk-note"  *ngIf="viewType === 'live'">* It shows the todays logs</p>
    <p class="asterisk-note"  *ngIf="viewType === 'late'">* It shows todays late arrivals</p>
  </div>
</div>