<div class="calendar-wrapper">
    <p-calendar 
        class="full-size-calendar" 
        [(ngModel)]="date" 
        [inline]="true" 
        [showWeek]="false" 
        (onSelect)="onDateSelect($event)"
        >
      <ng-template pTemplate="date" let-date>
        <span [ngClass]="[getHolidayClass(date), isSunday(date) ? 'sunday-holiday' : '', isCompanyHoliday(date) ? 'sunday-holiday':'']">
          {{ date.day }}
        </span>
      </ng-template>
    </p-calendar>
  
    <p-dialog 
    header="Manage Holiday" 
    [(visible)]="displayHolidayDialog" 
    [modal]="true" 
    [closable]="false"
    [style]="{ width: '350px' }"
    styleClass="p-fluid manage-holiday-dialog">

    <ng-template pTemplate="header">
        <div class="header-container">
            <span>Manage Holiday</span>
            <button 
                type="button" 
                class="p-dialog-header-icon p-link"
                (click)="displayHolidayDialog = false" 
                style="position: absolute; right: 1rem; top: 0.75rem;">
                <i class="pi pi-times"></i>
            </button>
        </div>
    </ng-template>

    <div class="holiday-dialog-content" *ngIf="selectedDate">
        <p>{{ selectedDate | date:'dd MMMM yyyy' }}</p>
        <p *ngIf="!isHoliday">Add this date as a holiday?</p>
        <p *ngIf="isHoliday">This date is already marked as a holiday. What would you like to do?</p>
        
        <p-button 
            *ngIf="!isHoliday" 
            type="button" 
            label="Full Day" 
            class="p-button-success full-holiday-btn" 
            (click)="setHoliday('full')"
            >
        </p-button>

        <p-button 
            *ngIf="!isHoliday" 
            type="button" 
            label="Half Day" 
            class="p-button-warning half-holiday-btn" 
            (click)="setHoliday('half')"
          >
        </p-button>

        <p-button 
            *ngIf="isHoliday" 
            type="button" 
            label="Remove Holiday" 
            class="p-button-danger remove-holiday-btn" 
            (click)="removeHoliday()"
           >
        </p-button>

        <!-- <p-button 
            type="button" 
            label="Cancel" 
            class="p-button-secondary cancel-btn" 
            (click)="displayHolidayDialog = false"
           >
        </p-button> -->
    </div>
</p-dialog>

    
  </div>
  