<div class="container">
    <div class="contents">
        <div class="header">
            <h1 class="title">LogXP</h1>
            <p class="subtitle">track your time anytime</p>
          </div>
          <div class="login-buttons">
            <button class="btn trainee" (click)="trainee()">Trainee Login</button>
            <button class="btn admin"  (click)="adminLogin()">Admin Login</button>
            <button class="btn trainer"  (click)="trainerLogin()">Trainer Login</button>
          </div>
    </div>
   
    <div class="footer"> 
        
      <img src="assets/experionlogo.png" alt="Experion Technologies Logo" class="logo" />
      <p>Copyright 2024 LogXP</p>
    </div>
  </div>
  