<div class="contents">
    <div class="container">
        <div class="filter-row">
            <div class="left-filters">
                <p-autoComplete id="search-bar"
                [(ngModel)]="selectedItem" 
                [suggestions]="suggestions" 
                (completeMethod)="search($event)"
                
                placeholder="Search Trainee" />
            </div>
            <div class="right-filters">
                <p-calendar 
                id="datepick"
                [(ngModel)]="selectedDate" 
                [iconDisplay]="'input'" 
                [showIcon]="true"
                [maxDate]="yesterday" 
                inputId="icondisplay" 
                placeholder="Select Date"
                [dateFormat]="'dd-MM-yy'"
                (onSelect)="filterByDate()">
                </p-calendar>
                
                <button pButton 
                type="button" 
                icon="pi pi-filter" 
                label="Filters" 
                class="p-button-rounded-rectangle p-button-secondary"
                (click)="filterPanel.toggle($event)">
            </button>
        
            <p-overlayPanel #filterPanel>
                <p-multiSelect 
                    [options]="filterOptions"
                    [(ngModel)]="selectedOptions"
                    optionLabel="name"
                    [showClear]="true"
                    placeholder="Select Filters">
                    <ng-template pTemplate="header">
                        <div class="status-heading">
                            <h3>Status</h3>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <div class="flex align-items-center gap-2">
                            <div>{{ selectedOption?.name }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ option.name }}</div>
                        </div>
                    </ng-template>
                </p-multiSelect>
            </p-overlayPanel>
            </div>
        </div>
  
        <div class="card table-container">
            <p-table [value]="filteredTrainees" [scrollable]="true" [scrollHeight]="'400px'" [sortMode]="'single'" paginatorPosition="top">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">Code <p-sortIcon field="id"></p-sortIcon></th>
                        <th>Trainee Name</th>
                        <th> Batch </th>
                        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th pSortableColumn="checkin">Check-In <p-sortIcon field="checkin"></p-sortIcon></th>
                        <th pSortableColumn="checkout">Check-Out <p-sortIcon field="checkout"></p-sortIcon></th>
                        <th pSortableColumn="workhours">Work Hours <p-sortIcon field="workhours"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-trainee>
                    <tr>
                        <td><strong>{{ trainee.employeeCode }}</strong></td>
                        <td (click)="showSideProfile(trainee.employeeCode)"><strong><span class="trainee-name">{{ trainee.name }} </span></strong></td>
                        <td><strong>{{ trainee.batch }}</strong></td>
                        <td><strong>{{ formatDate(trainee.date)}}</strong></td>
                        <td><strong><span [ngClass]="getStatusClass(trainee.status)">{{ trainee.status }}</span></strong></td>
                        <td><strong><span [ngClass]="getCheckinTimeClass(trainee.loginTime, trainee.status)">{{ getDisplayTime(trainee.loginTime, trainee.status) }}</span></strong></td>
                        <td><strong> <span [ngClass]="getCheckoutTimeClass(trainee.logoutTime, trainee.status)">{{ getDisplayTime(trainee.logoutTime, trainee.status) }}</span></strong></td>
                        <td><strong>{{ trainee.totalWorkHour}} Hrs</strong></td>
                        
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
  </div>
  @if (isSideProfileVisible) {
    <app-side-user-profile  [employeeCode]="selectedTraineeCode" [isVisible]="isSideProfileVisible" (closeProfile)="closeSideProfile()"></app-side-user-profile>
  }
  
