<div class="widget-cards-container">
    <div class="widget-cards">
        <app-widget-card routerLink="/search" [card_number]="totalTrainees"  card_header="Total Trainees" header_icon="fa-solid fa-users icon"></app-widget-card>
        <app-widget-card (onBtnClick)="clickWidget($event)" [card_number]= "onTimeNum" card_header="On Time" header_icon="fa-solid fa-user-check"></app-widget-card>
        <app-widget-card (onBtnClick)="clickWidget($event)" [card_number]= "absentees" card_header="Absent" header_icon="fa-solid fa-ban"></app-widget-card>
        <app-widget-card (onBtnClick)="clickWidget($event)" [card_number]= "lateArrivals" card_header="Late Arrivals" header_icon="fa-solid fa-user-clock"></app-widget-card>
        <app-widget-card (onBtnClick)="clickWidget($event)" [card_number]= "earlyDepartures" card_header="Early Departures" header_icon="fa-solid fa-sign-out-alt"></app-widget-card>
        <app-widget-card (onBtnClick)="clickWidget($event)" [card_number]= 30 card_header="Attendance Graph" header_icon="fa-solid fa-calendar-check"></app-widget-card>
    </div>
</div>