<div class="card-container">
    <p-card class="card" [style]="{ width: '360px'}">
        <div>
            <i [class]="header_icon"></i>
            <div class="employee-count">{{employee_count}}</div>
        </div>
        <p class="card-header">{{card_header}}</p>
        <ng-template pTemplate="footer">
            <div class="flex-footer">
                <i [class]="footer_icon"></i>
                <div class="footer-text">{{card_footer}}</div>
            </div>
        </ng-template>
    </p-card>
</div>
