<div class="card">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button
                severity="success" 
                label="New" 
                icon="pi pi-plus" 
                class="mr-2" 
                (onClick)="openNew()" />
            <p-button
                severity="danger" 
                label="Delete" 
                icon="pi pi-trash" 
                (onClick)="deleteSelectedTrainees()" 
                [disabled]="!selectedTrainees || !selectedTrainees.length" />
        </ng-template>

        <ng-template pTemplate="right">
            <p-button
                severity="help" 
                label="Export" 
                icon="pi pi-upload" />
        </ng-template>
    </p-toolbar>

    <p-toolbar>
        <div class="p-toolbar-group-right">
            <button pButton label="Set Active" icon="pi pi-check" class="p-button-success" (click)="setIsActiveForSelected(true)"></button>
            <button pButton label="Set Inactive" icon="pi pi-times" class="p-button-danger" (click)="setIsActiveForSelected(false)"></button>
        </div>
    </p-toolbar>

    <p-table
        #dt
        [value]="trainees"
        [rows]="10"
        [paginator]="true"
        [scrollable]="true"
        scrollHeight="400px"
        [globalFilterFields]="['employeeCode', 'name', 'email', 'batch']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedTrainees"
        [rowHover]="true"
        dataKey="employeeCode"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Trainees</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input 
                    pInputText 
                    type="text" 
                    #globalFilterInput
                    (input)="dt.filterGlobal(globalFilterInput.value, 'contains')" 
                    placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="employeeCode" style="min-width:15rem">
                    Employee Code <p-sortIcon field="employeeCode"></p-sortIcon>
                </th>
                <th pSortableColumn="name">
                    Name <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="email">
                    Email <p-sortIcon field="email"></p-sortIcon>
                </th>
                <th pSortableColumn="batch" style="min-width:10rem">
                    Batch <p-sortIcon field="batch"></p-sortIcon>
                </th>
                <th pSortableColumn="accessCode">
                    Access Code <p-sortIcon field="accessCode"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-trainee>
            <tr>
                <td>
                    <p-tableCheckbox [value]="trainee"></p-tableCheckbox>
                </td>
                <td>
                    {{ trainee.employeeCode }}
                </td>
                <td>
                    {{ trainee.name }}
                </td>
                <td>
                    {{ trainee.email }}
                </td>
                <td>
                    {{ trainee.batch }}
                </td>
                <td>
                    <p-tag [value]="trainee.isActive ? 'Active' : 'Inactive'" [severity]="trainee.isActive ? 'success' : 'danger'"></p-tag>
                </td>
                <td>
                    <p-button 
                        icon="pi pi-pencil" 
                        class="mr-2" 
                        [rounded]="true" 
                        [outlined]="true" 
                        severity="success" 
                        (onClick)="editTrainee(trainee)"></p-button>
                    <p-button 
                        icon="pi pi-trash" 
                        severity="danger" 
                        [rounded]="true" 
                        [outlined]="true" 
                        (onClick)="deleteTrainee(trainee)"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{ trainees ? trainees.length : 0 }} trainees.
            </div>
        </ng-template>
    </p-table>

    <p-dialog 
        [(visible)]="traineeDialog" 
        [style]="{ width: '450px' }" 
        header="Trainee Details" 
        [modal]="true" 
        styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="employeeCode">Employee Code</label>
                    <input 
                        type="text" 
                        pInputText 
                        id="employeeCode" 
                        [(ngModel)]="trainee.employeeCode" 
                        required 
                        autofocus />
                    <small class="p-error" *ngIf="submitted && !trainee.employeeCode">
                        Employee Code is required.
                    </small>
                </div>
                <div class="field">
                    <label for="name">Name</label>
                    <input 
                        type="text" 
                        pInputText 
                        id="name" 
                        [(ngModel)]="trainee.name" 
                        required />
                    <small class="p-error" *ngIf="submitted && !trainee.name">
                        Name is required.
                    </small>
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input 
                        type="email" 
                        pInputText 
                        id="email" 
                        [(ngModel)]="trainee.email" />
                </div>
                <div class="field">
                    <label for="batch">Batch</label>
                    <input 
                        type="text" 
                        pInputText 
                        id="batch" 
                        [(ngModel)]="trainee.batch" />
                </div>
                <div class="field">
                    <label for="isActive">Active Status</label>
                    <p-dropdown 
                        [(ngModel)]="trainee.isActive" 
                        [options]="[{ label: 'Active', value: true }, { label: 'Inactive', value: false }]" 
                        optionLabel="label" 
                        optionValue="value">
                    </p-dropdown>
                </div>
                
            </ng-template>

            <ng-template pTemplate="footer">
                <p-button 
                    label="Cancel" 
                    icon="pi pi-times" 
                    [text]="true" 
                    (onClick)="hideDialog()"></p-button>
                <p-button
                    label="Save" 
                    icon="pi pi-check" 
                    [text]="true" 
                    (onClick)="saveTrainee()"></p-button>
            </ng-template>

    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>
