
<div class="card">
    <p-toast></p-toast>
    

    <p-table 
        #dt
        [value]="trainees"
        [rows]="10"
        [scrollable]="true"
        scrollHeight="410px"
        [globalFilterFields]="['employeeCode', 'name', 'email', 'batch']"
        [tableStyle]="{ 'min-width': '40rem' }"
        [(selection)]="selectedTrainees"
        [rowHover]="true"
        (selectionChange)="onSelectionChange($event)"
        dataKey="employeeCode"
     
        [loading]="isLoading"
        
    >
        <ng-template pTemplate="caption">
           
            <div class="flex align-items-center justify-content-evenly">
                <h4 style=" align-items:  center; ">Trainee Details</h4>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input 
                        pInputText 
                        type="text" 
                        #globalFilterInput
                        (input)="dt.filterGlobal(globalFilterInput.value, 'contains')" 
                        placeholder="Search..." />
                </span>
                <!-- Add Batch Button -->
<button pButton label="Add Batch" icon="pi pi-plus" class="p-button-success" style="width: 150px;"
(click)="openBatchDialog()"></button>

<p-dialog header="Add New Batch" [(visible)]="batchDialog" [modal]="true" [closable]="true" [style]="{width: '50vw'}">
    <div class="p-fluid">
        <div class="p-field">
            <label for="batchName">Batch Name</label>
            <input id="batchName" type="text" pInputText [(ngModel)]="newBatch.batchName" />
        </div>

        <div class="p-field">
            <label for="yearRange">Year Range</label>
            <div class="year-range-picker">
                <p-calendar 
                    id="startYear" 
                    [(ngModel)]="startYear" 
                    view="year" 
                    dateFormat="yy" 
                    yearNavigator="true" 
                    yearRange="2000:2050"
                    (onSelect)="updateYearRange()" 
                    [showIcon]="true"
                    placeholder="year">
                </p-calendar>
                <span> - </span>
                <p-calendar 
                    id="endYear" 
                    [(ngModel)]="endYear" 
                    view="year" 
                    dateFormat="yy" 
                    yearNavigator="true" 
                    yearRange="2000:2050"
                    (onSelect)="updateYearRange()" 
                    [showIcon]="true"
                    placeholder="year">
                </p-calendar>
            </div>
        </div>
    </div>

    <p-footer>
        <button pButton label="Save" (click)="saveBatch()" class="p-button-primary batchs"></button>
    </p-footer>
</p-dialog>

<!-- set arrival time button -->
<button pButton label="Set Arrival Time" icon="pi pi-clock" class="p-button-success" style="width: 200px;"
(click)="openTimeSetterDialog()"></button>
<!-- Set arival time Dialog -->
<p-dialog header="Set the allowed arrival time for trainees" [(visible)]="timeSetterVisible"  [modal]="true" [closable]="true" [style]="{width: '30vw',height:'400px'}">  
    <div>
        <p>Current Arrival Time : {{curArrivalTime | date:'h:mm a' }}</p>
    </div>
    <div class="p-fluid">
      <div class="p-field">
        <label for="timeSetter">Select time</label>
        <p-calendar 
        id="timeSetter"
        inputId="calendar-timeonly" 
        [(ngModel)]="selectedTime" 
        [timeOnly]="true"
        placeholder="Set the arrival time" />
      </div>
    </div>
  
    <p-footer>
      <button pButton label="Save" (click)="saveArrivalTime()" class="p-button-primary batchs"></button>
    </p-footer>
</p-dialog>
  


                <div class="p-field">
                
                    <p-button 
                    label=""
                    pTooltip="Change trainee status" 
                    tooltipPosition="top" 
                    icon="pi pi-cog" 
                    (onClick)="isSetStatusDialogVisible = true">
                    </p-button>
                </div>
              
             
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
    
    
    <p-tableHeaderCheckbox  pTooltip="Change trainee status" 
        tooltipPosition="top" >
       
    </p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="employeeCode">
                    Trainee Id
                    <p-sortIcon field="employeeCode"></p-sortIcon>
                </th>
                <th >
                    Name
                   
                </th>
                <th style="width: 7rem;" >
                    Email
                   
                </th>
                <th>
                      <p-dropdown 
                    class="batch-filter"
                    [options]="batchOptions" 
                    [(ngModel)]="selectedBatchId"
                    optionLabel="label"
                    optionValue="value"
                    placeholder="Batch"
                    (onChange)="filterByBatch()">
                </p-dropdown>

                </th>
                <th >
                    Active Status
                   
                </th>
                <th >
                    Edit</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-trainee>
            <div class="empty-state-container" *ngIf="trainees.length === 0">
                <i class="fas fa-exclamation-circle not-found-icon"></i>
                <p>No data found for the Selected Date</p>
            </div>
            <tr>
                <td>
                    <p-tableCheckbox [value]="trainee"></p-tableCheckbox>
                </td>
                <td>{{ trainee.employeeCode }}</td>
                <td>{{ trainee.name }}</td>
                <td>{{ trainee.email }}</td>
                 <td>{{ getBatchName(trainee.batchId) }}</td> 
                <td>
                    <p-tag 
                        [value]="trainee.isActive ? 'Active ' : 'Inactive'" 
                        [severity]="trainee.isActive ? 'success' : 'danger'"
                        class="equal-length-tag"
                        (click)="isSetStatusDialogVisible = true"
                        >
                        
                    </p-tag>
                </td>
                <td>
                    <p-button 
                        icon="pi pi-pencil" 
                        class="mr-2" 
                        [rounded]="true" 
                        [outlined]="true" 
                        severity="success" 
                        (onClick)="editTrainee(trainee)"
                          pTooltip="Edit Trainee Details" 
        tooltipPosition="top">
                    </p-button>
                </td>
            </tr>
        </ng-template>

  <p-progressSpinner 
  *ngIf="isLoading" 
  [style]="{'position': 'absolute', 'top': '50%', 'left': '50%', 'transform': 'translate(-50%, -50%)'}"
  strokeWidth="5" 
  diameter="40"></p-progressSpinner>
  
    </p-table>

    <p-dialog 
    [(visible)]="traineeDialog" 
    header="Trainee Details" 
    [modal]="true"
    [style]="{'width': '400px', 'max-width': '90vw'}"
    [contentStyle]="{'padding': '1em'}"
>
    <ng-template pTemplate="header">
        <div class="header-container">
            <span>Trainee Details</span>
        </div>
    </ng-template>

    <ng-template pTemplate="content">
        <div class="field">
            <label for="name" class="p-float-label">
                <span>Name</span>
                <input 
                    type="text" 
                    pInputText 
                    id="name" 
                    [(ngModel)]="trainee.name" 
                    required />
               
            </label>
            <small class="p-error" *ngIf="submitted && !trainee.name">
                Name is required.
            </small>
        </div>
        <span>Email</span>
        <div class="field" style="margin-bottom: 1em;">
            <label for="email" class="p-float-label">
                <input 
                    type="email" 
                    pInputText 
                    id="email" 
                    [(ngModel)]="trainee.email" />
                
            </label>
        </div>
        <span style="padding-bottom: 10px;">Batch</span>
        <div class="field">
            <label for="batch" class="p-float-label">
                <p-dropdown 
                    [options]="batchOptions" 
                    [(ngModel)]="trainee.batchId" 
                    optionLabel="label"
                    optionValue="value"
                    placeholder="Select Batch"
                    [scrollHeight]="'200px'">
                </p-dropdown>
                
            </label>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-button 
            label="Save" 
            styleClass="p-button-success"
            class="addsave" 
            [text]="true"
            (onClick)="saveTrainee()">
        </p-button>
    </ng-template>
</p-dialog>





    <!-- Confirmation Dialog -->
    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

    <!-- Dialog for Setting Trainee Status -->
    <p-dialog 
    [(visible)]="isSetStatusDialogVisible" 
    [style]="{ width: '300px' }" 
    header="Set Trainee Status" 
    [modal]="true" 
    [draggable]="false" 
    [resizable]="false"
    [closable]="true"
    appendTo="body"
    styleClass="p-fluid set-status-dialog"
    [contentStyle]="{ 'padding': '1rem', 'text-align': 'center','margin-bottom':'2rem' }">

    <ng-template pTemplate="header">
        <div class="header-container">
            <span>Set Trainee Status</span>
           
        </div>
    </ng-template>

    <div class="p-grid p-align-center p-justify-center">
        <div class="p-col">
            <p-button 
                label="Set Active" 
                icon="pi pi-check" 
                class="p-button-success" 
                (click)="setIsActiveForSelected(true)"
              >
            </p-button>
        </div>
        <div class="p-col">
            <p-button 
                label="Set Inactive" 
                icon="pi pi-times" 
                class="p-button-danger" 
                (click)="setIsActiveForSelected(false)"
               >
            </p-button>
        </div>
    </div>
</p-dialog>

  
</div>

