.trainee-status-table {
  width: 100%;
 
}

.trainee-status-table th{
 
  font-size: small;
}
::ng-deep.p-sortable-column{
  font-size: small;
}
::ng-deep.p-datatable-tbody tr{
  font-size: small;
  padding: 0rem 1rem;
}
.trainee-status-table td {
 text-align: center;
  border-bottom: 1px solid #ddd;
}

.trainee-status-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.status {
  padding: 4px ; /* Reduced padding */
  border-radius: 4px;
  color: var(text-color-white);
  font-weight: bold;
}

.status.enabled {
  background-color: green;
}

.status.disabled {
  background-color: var(--primary-color);
}


.edit-button:hover {
  background-color: #0056b3;
}
.card {
 margin-top: 2%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.table-header {
  font-weight: bold;
  font-size: 0.25rem;
}

::ng-deep.p-datatable-body{
  padding: 0rem,1rem;
}
::ng-deep.p-grid{
display: flex;
flex-direction: column;
gap: 7px;
}
::ng-deep.p-button {
color: var(--primary-color);
background: none;
border: none;
padding: 0.75rem 1.25rem;
font-size: 1rem;

border-radius: 6px;
outline-color: transparent;
}

.trainee-dialog .p-dialog-content {
  padding: 2rem;
}

.trainee-dialog .header-container {
  position: relative;
  padding-right: 2rem; /* Adjust padding to avoid overlap */
}

.trainee-dialog .p-dialog-footer {
  padding-top: 1rem;
}
::ng-deep.equal-length-tag {
  width: 100px; /* Adjust width as needed */
  text-align: center;
  display: inline-block;
}
::ng-deep.p-tag-value{
  width: 70px;
}
::ng-deep.p-component{
 
}
:host ::ng-deep .p-datatable .p-datatable-header{
  padding: 0.25rem
}
 /* :host ::ng-deep .p-inputtext {
  padding: 0.50rem 0.5rem
}  */
