<div class="card flex justify-content-center">
    <p-card header="Select the required date">
        <form [formGroup]="dateForm">
            <!-- <p class="m-0">Select the required date</p> -->
            <!-- <label for="date" class="labelText">Enter the required date: </label><br> -->
            <p-calendar formControlName="date" class="leave-calendar"/>
        </form><br><br><br>
    
        <div class="leave-details">
            <p class="m-0">Total Working Day: <span>{{ totalWorkingDays }}</span></p>
            <p class="m-0">Total Full Day Leave: <span>{{ totalFullDayLeave }}</span></p>
            <p class="m-0">Total Half Day Leave: <span>{{ totalHalfDayLeave }}</span></p>
        </div>
    </p-card>
</div>


<!-- <div class="card flex justify-content-center">
    <p-card header="Select the required date">
        <p class="m-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
    </p-card>
</div> -->

