.card{
    width: 250px;
}

   

/* .leave-info-container {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.leave-calendar{
    width: 100px;
}
.labelText{
    font-size: 20px;
}

select{
    width: 200px;
    height: 30px;
}
  
.leave-details p {
    margin: 5px 0;
    font-size: 20px;
}
  
.leave-details span {
    font-weight: bold;
}

    */