<app-top-header></app-top-header>

<div class="heading">
    <h1>Attendance Overview</h1>
</div>
<div class="contents">
    <div class="container">
        <div class="search-filter">
            <p-autoComplete id="search-bar"
                [(ngModel)]="selectedItem" 
                [suggestions]="suggestions" 
                (completeMethod)="search($event)"
                placeholder="Quick Search" />
            <div class="right-filters">
                <p-calendar id="datepick"
                    [(ngModel)]="date2" 
                    [iconDisplay]="'input'" 
                    [showIcon]="true" 
                    inputId="icondisplay" 
                    placeholder="{{todayDate}}"/>
        
                <p-dropdown 
                    [options]="options"
                    [(ngModel)]="selectedOption"
                    optionLabel="name"
                    [filter]="true"
                    filterBy="name"
                    [showClear]="true"
                    placeholder="Advanced Filters">
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        <div class="flex align-items-center gap-2">
                            <div>{{ selectedOption?.name }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ option.name }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <div class="card table-container">
          <p-table [value]="filteredTrainees" [paginator]="true" [rows]="5" [sortMode]="'single'">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="employee">Employee <p-sortIcon field="employee"></p-sortIcon></th>
                        <th pSortableColumn="ilp">ILP <p-sortIcon field="ilp"></p-sortIcon></th>
                        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                        <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th>
                        <th pSortableColumn="checkin">Check-In<p-sortIcon field="checkin"></p-sortIcon></th>
                        <th pSortableColumn="checkout">Check-Out<p-sortIcon field="checkout"></p-sortIcon></th>
                        <th pSortableColumn="workhours">Work Hours<p-sortIcon field="workhours"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-trainee>
                    <tr>
                        <td><strong>{{ trainee.id }}</strong></td>
                        <td><strong>{{ trainee.employee }}</strong></td>
                        <td><strong>{{ trainee.ilp }}</strong></td>
                        <td><strong>{{ trainee.date }}</strong></td>
                        <td><strong><span [ngClass]="getStatusClass(trainee.status)">{{trainee.status}}</span></strong></td>
                        <td><strong><span [ngClass]="getTimeClass(trainee.checkin)">{{trainee.checkin}}</span></strong></td>
                        <td><strong><span [ngClass]="getTimeClass(trainee.checkout)">{{trainee.checkout}}</span></strong></td>
                        <td><strong>{{ trainee.workhours }}</strong></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
