<div class="page">
    <div>
        <div class="innersection">
            <h2 class="section-heading">Add Holiday</h2>
            <div class="calendar-container">
              <app-callender></app-callender>
            </div>
        </div>
        
    <div class="innersection">
        <!-- <h2 class="section-heading">May 2023</h2> -->
        <div class="buttons-section">
          <button pButton type="button" label="Download Attendance Report" class="btn btn-danger"></button>
          <!-- <button pButton type="button" label="Monthly Attendance" class="btn btn-danger"></button>
          <button pButton type="button" label="Daily Attendance" class="btn btn-danger"></button> -->
        </div>  
    </div>
</div >   

        <div class="update-status">
<h2 class="section-heading">Update Trainee Status</h2>
        </div>
</div>

    


