.page {
  display: flex;
  gap: 10%;
}

.section-heading {
  font-size: 24px;
  font-weight: bold;
  color: black ;/* Use the same color as in your design */
  text-align: center;

}
.innersection{
    display: flex;
    flex-direction: column;
}

.buttons-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5%;

}

.buttons-section button {
  margin-bottom: 15px;
  width: 100%; /* Full width of the container */
  margin-top: 5%;
 background-color:  #f44336;
}


.update-status{
    display: flex;
   
    justify-content: center;
}