<div *ngIf="isLogged; else loginTemplate" class="main">
  <app-navbar></app-navbar>
  <p-toast position="top-left" [showTransformOptions]="'translateX(100%)'"></p-toast>
  <div class="main-container">
    <app-top-header></app-top-header>
    <router-outlet></router-outlet>
  </div>

  <!-- Floating Button -->
  <!-- <button class="floating-btn" (click)="showPopup = true">
    Real Time Insight
  </button>

  //<!-- Popup Component -->
  <!-- <app-real-time-pop-up  *ngIf="showPopup" (closePopup)="showPopup = false"></app-real-time-pop-up> --> 
</div>

<!-- Template to show if the user is not logged in -->
<ng-template #loginTemplate>
  <app-login></app-login>
</ng-template>
