.container {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-filter {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 5px;
}

#search-bar {
    flex: 1;
    margin-right: 20px;
}

/* .right-filters {
    display: flex;
    align-items: center;
} */

#datepick {
    margin-right: 20px;
}

.status-work-from-office {
    color: green;
    background-color: #e0f7e9; /* Light green background */
    padding: 2px 4px;
    border-radius: 3px;
}

.status-absent {
    color: #EA454C;
    background-color: #ffe0e0; /* Light red background */
    padding: 2px 4px;
    border-radius: 3px;
}

.status-late-arrival {
    color: orange;
    background-color: #fff4e0; /* Light orange background */
    padding: 2px 4px;
    border-radius: 3px;
}

.time-on-time {
    color: green;
    background-color: #e0f7e9; /* Light green background */
    padding: 2px 4px;
    border-radius: 3px;
}

.time-late {
    color: orange;
    background-color: #fff4e0; /* Light orange background */
    padding: 2px 4px;
    border-radius: 3px;
}

.time-very-late {
    color: #EA454C;
    background-color: #ffe0e0; /* Light red background */
    padding: 2px 4px;
    border-radius: 3px;
}

.invisible{
    display: none;
}
:host ::ng-deep  .p-inputtext{
    padding: 8px;
}
:host ::ng-deep  h2{
    margin: 0px;
}

.no-data-img{
    /* height: 10%; */
    width: 25%;
}

.empty-state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 20px;
    color: #555; /* Main text color */
    font-family: 'Roboto', sans-serif; /* Use a clean and modern font */
}

.empty-state-container .not-found-icon {
    font-size: 7em; /* Adjust size as needed */
    color: #f38c89; /* Red color for the "not found" theme */
    margin-bottom: 30px;
}

.empty-state-container p {
    font-family: "Poppins", sans-serif;
    font-size: 1.2em; /* Slightly larger font size */
    /* font-weight: 500; Medium font weight for better emphasis */
    color: #333; /* Darker text color for better contrast */
    line-height: 1.5; /* Improve readability */
    margin: 0;
}

.empty-state-container p span {
    color: #EA454C; /* Highlight key information like dates with a subtle accent color */
    font-weight: bold;
}
