<div class="container">
    <div class="search-filter">
        <h2>{{tableHeader}}</h2>
        <p-calendar id="datepick" [(ngModel)]="date" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
        placeholder="Select Date"></p-calendar>
    </div>
    <div class="card table-container">
        <p-table [value]="filteredTrainees" [paginator]="true" [rows]="4" [sortMode]="'single'" [paginatorPosition]="'top'">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Trainee</th>
                    <th>ILP</th>
                    <th [id]="toggleField">{{ toggleField }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-trainee>
                <tr>
                    <td><strong>{{ trainee.id }}</strong></td>
                    <td><strong>{{ trainee.employee }}</strong></td>
                    <td><strong>{{ trainee.ilp }}</strong></td>
                    <td><strong>1
                        </strong></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>