<!-- <div class="profile-card">
    <img [src]="imageUrl" alt="Profile Image" class="profile-image"><br>
    <p class="profile-name">Name: {{ name }}</p>
    <p class="profile-batch">ILP: {{ ilpBatch }}</p>
</div> -->

<div class="card flex justify-content-center">
    <p-card class="profile-card">
        <img [src]="imageUrl" alt="Profile Image" class="profile-image"><br>
        <p class="profile-name m-0">Name: {{ name }}</p>
        <p class="profile-batch m-0">ILP: {{ ilpBatch }}</p>
    </p-card>
</div>
  