<!-- Use *ngIf to conditionally display the container -->
<div class="container" *ngIf="isVisible">
    <!-- Close Button -->
    <button class="close-btn" (click)="closeSideProfile()">&#10005;</button>

    <!-- Trainee Details Section -->
    <div class="trainee-details">
        <h3>TRAINEE LOG DETAILS</h3>
        <div class="trainee-details-flex">
            <div class="trainee-details-flex-row">
                <div><b>Name: </b></div>
                <div>{{trainee.name}}</div>
            </div>
            <div class="trainee-details-flex-row">
                <div><b>Batch: </b></div>
                <div>{{this.batchName}}</div>
            </div>   
        </div>
    </div>

    <!-- Table Section -->
    <div class="table-section">
        <app-singleuser-table [traineelogs]="traineeLogs"></app-singleuser-table>
    </div>

    <!-- Additional Info Section -->
    <div class="additional-info">
        <div class="info-item">
            <i class="fas fa-calendar-times"></i> <!-- Icon for leaves -->
            <p><strong>Total Leaves: </strong>{{numberOfDaysAbsent}}</p>
        </div>
        <div class="info-item">
            <i class="fas fa-clock"></i> <!-- Icon for late arrivals -->
            <p><strong>Late Arrivals: </strong>{{numberOfDaysLate}}</p>
        </div>
    </div>
</div>