<div class="dashboard">
    <div class="app-cards">
      <app-current-date></app-current-date>
      <app-widget-cards (widgetSelected)="handleWidgetClick($event)"></app-widget-cards>

    </div>
    <div class="graph-container">
      <ng-template #homeTemplate>
        <div *ngIf="tableHeader === 'Working Days'">
          <app-graph></app-graph>
        </div>
        <div *ngIf="isVisible && tableHeader !== 'Working Days'">
          <app-widget-table [tableHeader]="tableHeader" [toggleField]="toggleField"></app-widget-table>
        </div>
      </ng-template>
      <ng-container *ngTemplateOutlet="homeTemplate"></ng-container>
    </div>
  </div>
  <!-- spinner, uses the interceptor to work -->
  <div *ngIf="spinnerService.isSpinnerVisible()" class="spinner-container">
    <app-spinner></app-spinner>
  </div>