<div class="card-container" [class.active]="isActive"
 [ngClass]="{'red-text': card_header === 'Absent' || card_header === 'Half-Day Leave' || card_header === 'Late Arrivals' || card_header === 'Early Departures', 'green-text': card_header === 'Met Work Hours'}"  (click)="onClick()">
    <p-card class="card">
        <div class="icon">
            <i [class]="header_icon"></i>
            <div class="card-number">{{card_number}}</div>
        </div>
        <p class="card-header">{{card_header}}</p>
    </p-card>
</div>