.card-container {
    margin: 10px;
    width: 250px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

/* Hover effect */
.card-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}


.red-text .card-number, 
.red-text .icon i {
    color: red;
}


.green-text .card-number, 
.green-text .icon i {
    color: green;
}


/* Active state */
.card-container.active {
    background-color: #E6F9E6;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    /* border: 2px solid #B2F5B2; */
    transform: translateY(-5px);
}

/* Icon styling */
.icon > i {
    font-size: 24px;
    margin-bottom: -30px;
    display: flex;
    justify-content: end;
}

/* Text styling */
.card-header {
    margin-top: 35px;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 18px;
}

.card-number {
    font-weight: bolder;
    font-size: 38px;
}

/* Responsive behavior */
@media (max-width: 768px) {
    .card-container {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card-container {
        width: 100%;
    }
}
