.graphContainer{
    width: 90vw;
    margin: auto;
    background-color: white; 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.graphHeading{
    display: flex;
    justify-content: space-between;
    
}
p{
    font-weight: 700;
    font-size: larger;
}
/* .monthPicker{
    border: 2px solid #EA454C;
} */

@media (max-width: 768px) {
    p{
        font-size: medium;
        font-weight: 500;
    }
}
@media (max-width: 435px) {
    p{
        font-size: small;
        font-weight: 500;
    }
}
