/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
}

.card-container .card {
    font-family: 'Poppins' !important;
  }

  .p-card .p-card-content{
    padding: 0 !important;
  }
  
  .p-card .p-card-footer {
    padding-top: 10px !important;
}